.navigation {
  background-color: #454545;
  border-bottom: 2px solid #444;
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
  position: relative;
}

.navigation::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  background: linear-gradient(to right, rgb(255, 191, 0), red);
  box-shadow: 0px 0px 20px 4px rgb(255, 0, 0);
  height: 4px;
  width: 100%;
  z-index: 1;
}


.logo {
  height: 80px;
  width: auto;
  position: absolute;
  left: 10px;
}

.nav-links {
  display: flex;
  gap: 15px;
  margin: 0 auto;
}

.nav-links a {
  color: white;
  font-weight: 1000;
  font-size: larger;
  text-decoration: none;
}

.nav-links a:hover {
  color: rgb(255, 115, 0);
  filter: blur(0.8px);
}
